header{
        position: relative;
        height: 100vh;
        background: url(https://raw.githubusercontent.com/eseodiase/free-website/master/bg-masthead.jpg) 50% 50%;
        background-size: cover;
        background-color: ;
        }

form {
    text-align: center;
    margin-top: 0;
}
input[type="submit"],[type="text"],[type="email"], textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}

.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}

html, body{
    width: 100%;
    height: auto;
    margin: 0;
    transition: 1s;
    opacity: 0.5px;
    }
    
    .logo{
    line-height: 70px;
    float: left;
    color: yellowgreen;
    font-weight: bold;
    margin-left: 20px;
    font-size: 40px;
    height: 70px;
    line-height: 70px;
    
    opacity: 0.7;
    
    }
    .nav{
    float: right;
    background-color: #333;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0px;
    border-bottom: 4px solid #3fb6b2;
    }
    
    .menu{
    line-height: 62px;
    float: right;
    }
    .menu a{
    text-decoration: none;
    color: #ddd;
    padding: 16px;
    }
    .menu a:hover{
    background-color: #3fb6b2;
    border-radius: 20%;
    }
    span{
    color: yellowgreen;
    font-weight: bold;
    }
    label{
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    font-size: 26px;
    
    }
    #toggle{
    display: none;
    }
    input[type="button"]{
            text-align: center;
            
            color: #fff;
            font-size: 25px;
    float: center;
    border: 1px solid yellowgreen;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    color: yellowgreen;
    font-weight: bold;
    }
    @media only screen and (max-width: 1000px){
        #hide-items{
            display: none;
        }
    span{
    color: #fff;
    font-weight: bold;
    }
    
    label{
    color: #fff;
    display: block;
    cursor: pointer;
    margin-right: 20px;
    }
    .menu{
    width: 100%;
    display: none;
    text-align: center;
    }
    .menu a{
    background-color: #234;
    border-bottom: 1px solid lightgrey;
    display: block;
    }
    .menu a:hover{
    border-radius: 0%;
    background-color: yellowgreen;
    }
    #toggle:checked + .menu{
    display: block;
    
    }
    
    }
    
    .container{
            width: 100%;
            background-color: ;
            margin: 7% 0% 0% 0%;
    
    }
    
            .centered-text h1{
            text-align: center;
            color: #737;
            font-size: 55px;
    
    }
    
            .centered-text p{
            text-align: center;
            color: #789;
            font-size: 30px;
    }
    .centered-text h4{
            text-align: center;
            font-size: 25px;
    }
    
    
    .footer{
    width: 100%;
    height: 300px;
    background-color: #234;
    }
    .footer a{
    margin: 15px;
    text-decoration: none;
    color: white;
    }
    
    .column{
    width: 33.33%;
    color: #fff;
    float: left;
    margin-top: 15px;
    
    }

    .column2{
        width: 50%;
        color: #fff;
        float: left;
        margin-top: 15px;
        background-color:whitesmoke;
        }
        .float{
            clear: both;
        }
    @media only screen and (max-width: 780px){
        #hide-items{
            display: none;
        }
    .footer{
    width: 100%;
    height: auto;
    
    
    }
    
    
    .column{
    width: 100%;
    color: powderblue;
    float: none;
    text-align: left;
    margin-top: 5px;
    padding: 4px;
    }
    .column2{
        width: 100%;
        color: #fff;
        float: left;
        margin-top: 15px;
        background-color:whitesmoke;
        }
    }
    
    .main{
    width: 100%;
    }
    
     h1,h2{
    text-align: center;
    
    }       
     h2{
    color: grey;
    }      
        .boxes{
        width: 100%;  
        }
        
        .boxes::after{
        clear: both;
        }
        
    
        .box{
        font-size: 25px;
        color: black;
        float: left;
        width: 30%;
    height: 250px;
            margin-bottom: 16px;
      padding: 0 8px;
        border: 1px lightgrey solid;
        background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin: 12px;
    border-radius: 8%;
        }
        .box:hover{
            background-color: #ddd;
               
            }
    .banner{
    background-color: powderblue;
    background: url();
    }
    
    @media only screen and (min-width: 1000px){
        #hide-items{
            display: none;
        }
    }
    
    @media only screen and (max-width: 1000px){
    #hide-items{
        display: none;
    }
    .box{
    float: left;
    width: 24%;
    margin: 10px;
    }
    .banner{
    display: none;
    }
    }
    
    @media only screen and (max-width: 600px){
    
    .box{
    float: none;
    width: 85%;
    margin: 15px;
    }
    }
